/*today change*/
.List_Dashboard_table_export_rearch {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
}

.Dashboard_Management_List {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 60px;
  width: calc(100vw - 70px);
  overflow-x: auto;

}


.Report_Management_List>span {
  margin-right: 5px;
  cursor: pointer;
}



.Dashboard_Management_List>span {
  margin-right: 5px;
  cursor: pointer;
}

.Dashboard_List_export_csv {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  width: 30px;
  height: 25px;
  background-color: whitesmoke;
  border: 1px solid black;
  cursor: pointer;

}

.Dashboard_List_export_csv span {
  margin-left: 10px;
}

.Dashboard_List_report_search {
  display: flex;
  align-items: center;
}


.Dashboard_List_has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.sidebar {
  margin-bottom: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 40px;
  width: auto;
}

.table-top {
  margin-top: 20px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}


.table-top {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.download-container {
  margin-right: 15px;
}




.dashboard-management-List_table_sub_container {
}

@media (max-width: 1200px) {
  .dashboard-management-List_table_sub_container {
    padding: 0 10px;
  }
}

@media (max-width: 992px) {
  .dashboard-management-List_table_sub_container {
    padding: 0 5px;
  }
}

@media (max-width: 768px) {
  .dashboard-management-List_table_sub_container {
    padding: 0 3px;
  }
}

@media (max-width: 576px) {
  .dashboard-management-List_table_sub_container {
    padding: 0 2px;
  }

  table {
    font-size: 14px;
  }
}