*{
font-size: 0.9rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.modal-dialog{
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.modal-content{
  
    width: 66% !important;
}

.box_boxContainer__-Cf13 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*today change*/
:root {
  --bg-main: #ffffff;
  --text-main: #000000;
  --bg-secondary: #f8f9fa;
  --border-color: #cccccc;
  --btn-bg: #ffffff;
  --btn-text: #000000;
  --dropdown-bg: #f8f9fa;
  --dropdown-hover: rgb(13, 110, 253);
  --dashboard-bg: #ffffff;
  --dashboard-text: #000000;
  --table-border: #ddd;
  --header-bg: #4694e8;
  --header-text: #fff;
  --button-bg: #ffffff;
  --button-text: #000000;
}

:root.light {
  --bg-color: white;
  --text-color: black;
}

:root.dark {
  --bg-color: #020817;
  --text-color: #f8fafc;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: #020817;
  color: #f8fafc;
  --bg-main: #0f172a;
  --text-main: #f8fafc;
  --bg-secondary: #1e293b;
  --border-color: #334155;
  --btn-bg: #1e293b;
  --btn-text: #f8fafc;
  --dropdown-bg: #1e293b;
  --dropdown-hover: #2563eb;
  --dashboard-bg: #1e293b;
  --dashboard-text: #f8fafc;
  --table-border: #334155;
  --header-bg: #1d4ed8;
  --header-text: #e2e8f0;
  --button-bg: #0f172a;
  --button-text: #f8fafc;
}