.resetpassword .title {
    /* font-size: 28px; */
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.intairconatiner {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* background-color: #f4f4f4; */
    background-image: url("../../Assets/bg-3.jpg");
    background-position: center;
    background-size: cover;
}


.resetpassword {
    max-width: 500px;
     width: 40rem !important;
    /* height: 540px; */
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    animation: fadeIn 1s forwards;
    margin: 0 auto;
}

.resetpassword>div.title {
    color: #0d6efd;
    font-size: 20px !important;
    font-weight: 400;
}


/* Keyframe for fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.resetpassword p {
    color: red;
    text-align: center;
}

.resetpassword form {
    max-width: 100%;
}

.resetpassword .field {
    margin-bottom: 15px;
}

.resetpassword .textfield {
    font-weight: bold;
    text-align: left;
    margin-left: 8px;
}

.resetpassword .box {
    display: flex;
    flex-direction: column;
}

.reset-password-input{
    border-radius: 2rem !important;
    padding: 0.6rem !important;
}

.resetpassword input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 2px;
}


.eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.resetpassword .field .box {
    position: relative;
}

/* Add the styles for the eye icons if needed */
.resetpassword .box .eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.reset-password-form {
    width: 100% !important;
}

.reset-password-btn {
    border: 1px solid #1a4ed8 !important;
    /* Darker border for a sleek look */
    border-radius: 1.5rem;
    background-color: #1d5dfb !important;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 0.6rem 1.5rem;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(29, 93, 251, 0.3);
    text-transform: uppercase;
}

.reset-password-btn:hover {
    background-color: #174bc4;
    /* Darker blue on hover */
    border-color: #133ea3;
    box-shadow: 0 6px 12px rgba(23, 75, 196, 0.4);
    transform: translateY(-2px);
    /* Slight lift on hover */
}

.reset-password-btn:active {
    background-color: #123a9c;
    box-shadow: 0 3px 6px rgba(18, 58, 156, 0.4);
    transform: translateY(1px);
}