.group_report_to_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
    width: calc(100vw - 70px);
}

.group_report_to_group > span {
    margin-right: 5px;
    cursor: pointer;
}

.group_report_sub_container {
    align-items: center;
    display: flex;
    justify-content: end;
    width: 90vw;
    margin: 0 auto;
}

.group_report_button_cnt > button {
   margin-left: 20px;
    /* width: 180px; */
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid #0d6efd;
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.group_report_button_cnt > button:hover {
    transform: translateY(-2px);
    background-color: #0b5ed7;
    border: 1px solid #0b5ed7;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.group_button_cnt2 > button {
    margin-left: 20px;
     /* width: 180px; */
     display: flex;
     align-items: center;
     padding: 10px 15px;
     border: 1px solid #0d6efd;
     background-color: #0d6efd;
     color: white;
     border-radius: 5px;
     transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
 }

 .group_button_cnt2 > button:hover {
    transform: translateY(-2px);
    background-color: #0b5ed7;
    border: 1px solid #0b5ed7;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.group_button_cnt2 {
    margin: 20px;
}

.group_report_table_container {
    width: calc(100vw - 120px);
}

.group_list_search {
    display: flex;
    align-items: center;
}

.group_list_search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.4rem;
    text-align: center;
    pointer-events: none;
    color: #0d6efd;
    margin-left: 140px;

}