/* Drilldown Page */
.css-94win0 {
  border: none !important;
}
 
.css-1q289a0 {
  border: none !important;
}

.Drilldownresponsive-header{
  background: linear-gradient(to right, #595959, #8c8c8c, #a1a1a1) !important;
  color: white !important;
}

.Drilldownresponsive-header:hover{
  background-color: #4D5256 !important;
  color: #fff ;
}
 
.MuiTableHead-root .MuiTableCell-root {
  background: transparent !important;
  border: none !important;
  border-radius: none !important;
}
 
table tr {
  border-radius: 0px !important;
}
 
.css-1atu56z-MuiPaper-root {
  box-shadow: none !important;
}
tr:nth-child(odd):hover {
  background: #eeeeee !important;
  color: #212529 !important;
}
.MuiTable-root {
  border: none !important;
}
tr:nth-child(odd) {
  border-radius: 1rem !important;
}
.css-10gei56 {
  box-shadow: none !important;
}
.css-1ypa3xa-MuiTableFooter-root {
  outline: none !important;
}
/* .css-1slhyb8-MuiTypography-root{
    margin-top: 5rem ! important;
  } */
.css-8k4lth {
  padding-top: 0px !important;
}
.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
  padding-right: 24px;
  min-width: 35px !important;
  background: #e0e0e0;
  border-radius: 10px;
  opacity: 0 !important;
}
.css-i316z9-MuiPagination-root .Mui-selected {
  background-color: #0d6efd !important;
}
.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background: #0d6efd !important;
}
 
.css-ssspk8-MuiTableRow-root {
  background: linear-gradient(to right, #595959, #8c8c8c, #a1a1a1);
}
.MuiBox-root > button {
  background-color: black !important;
  color: white !important;
}
 
.css-ssspk8-MuiTableRow-root:hover {
  background-color: #4d5256 !important;
}
 
.Mui-TableHeadCell-Content-Wrapper.MuiBox-root.css-lapokc {
  color: white !important;
}
.MuiTableRow-root.MuiTableRow-head.css-ssspk8-MuiTableRow-root:hover {
  background-color: #4d5256 !important;
  color: white !important;
}
.Mui-TableHeadCell-Content-Wrapper.MuiBox-root.css-1t5kuvk {
  color: white !important;
}
.MuiBox-root.css-1llu0od {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.MuiBox-root.css-qpxlqp {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative !important;
}
.MuiButtonBase-root > svg,
.MuiButtonBase-root > svg {
  color: white !important;
}
.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiPaginationItem-icon
  .css-g2z002-MuiSvgIcon-root-MuiPaginationItem-icon {
  color: black !important;
}
 
.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
  background-color: black !important;
  color: white !important;
  margin: 0 0.5rem !important;
  height: 2.6rem;
  border-radius: 50% !important;
  min-width: 3rem !important;
}
 
.MuiPaginationItem-root {
  color: white !important;
  background-color: black !important;
}
 
.css-2jdjhv-MuiSelect-select-MuiInputBase-input-MuiInput-input {
  color: white !important;
}
.css-929hxt-MuiInputBase-input-MuiInput-input,
.css-2jdjhv-MuiSelect-select-MuiInputBase-input-MuiInput-input,
.MuiFormHelperText-root.MuiFormHelperText-sizeMedium {
  color: white !important;
}
 
.css-1tzeee1 {
  opacity: 1 !important;
}
.css-701a9n-MuiTableHead-root {
  height: 6rem !important;
  border-radius: 1rem !important;
}
 
.css-apge8j-MuiTableRow-root:hover {
  background-color: #4d5256 !important;
}
 
.css-118e0ip-MuiTableHead-root > tr:hover {
  background-color: #4d5256 !important;
}
 
.css-78trlr-MuiButtonBase-root-MuiIconButton-root > span > svg {
  background-color: #000 !important;
  color: #fff !important;
}
.css-1mmm5cp-MuiInputBase-root-MuiInput-root-MuiSelect-root {
  color: black !important;
  border: 0.1rem solid #999 !important;
  border-radius: 0.5rem !important;
}
.css-yf8vq0-MuiSelect-nativeInput {
  background-color: transparent !important;
  top: 0.5rem !important;
  left: 1rem !important;
  opacity: 1 !important;
  position: absolute;
  border: none;
}
 
.MuiPagination-ul > li > button,
.MuiPaginationItem-root {
  background-color: #000 !important;
  color: white !important;
}
 
.MuiPaginationItem-ellipsis {
  height: 2.2rem !important;
  border-radius: 0.5rem !important;
}
 
.css-16rp2hs-MuiButtonBase-root-MuiCheckbox-root {
  color: white !important;
  background-color: black !important;
}
.css-16rp2hs-MuiButtonBase-root-MuiCheckbox-root:hover {
  color: white !important;
  background-color: #4d5256 !important;
}
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  border-radius: 1rem !important;
  min-width: 9.375rem !important;
  max-width: 33rem !important;
  overflow: scroll !important;
}
 
.css-kg9q0s-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button,
.css-1nkg345-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button {
  background-color: black !important;
  color: white !important;
  margin: 0 0.1rem !important;
}
 
.css-1nkg345-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button:hover {
  background-color: #4d5256 !important;
  color: white !important;
}
.Mui-selected{
  background-color: #212529 !important;
  color: white !important;
  border-radius: 1rem !important;
}
.css-1roo1oa-MuiList-root-MuiMultiSectionDigitalClockSection-root>li:hover {
  background-color: #4d5256 !important;
  color: white !important;
  border-radius: 1rem !important;
}
 
.css-kg9q0s-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button:hover {
  background-color: #4d5256 !important;
  color: white !important;
}
 
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper,
.css-1k4oq0i-MuiPaper-root-MuiPickersPopper-paper {
  border-radius: 1rem !important;
}